*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== Banner ===== */
.about-banner {
  position: relative;
  width: 100%;
  height: 350px;
}

.about-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay h1 {
  color: #fff;
  font-size: 42px;
  letter-spacing: 2px;
 
}

/* ===== Sections ===== */
.about-section {
  padding: 50px 5%;
}

.light-bg {
  background: #f8f8f8;
}


.about-section h2 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #222;
  text-align: center;
}
.about-section h2 span{
  color: #3e4bc5;
}

.about-section h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #f4be81;
   text-align: center;
   padding: 20px;
   background-color: #222;
}

.about-section p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
  color: #555;
}

.season-box h4 {
  margin-top: 15px;
  color: orange;
  font-size: 25px;
}

/* ===== Lists ===== */
.about-list {
  padding-left: 18px;
}

.about-list li {
  line-height: 28px;
  font-size: 16px;
  
}

/* ===== Founder Box ===== */
.founder-box {
  display: flex;
  gap: 45px;
  /* align-items: center; */
  margin-top: 25px;
}
.founder-box div p>span{
  color: #111;
  font-weight: 600;
}

.founder-box img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .about-banner{
    width: 100%;
    height: auto;
  }
  .about-section {
    padding: 30px 20px;
  }

  .founder-box {
    flex-direction: column;
    text-align: center;
  }

  .banner-overlay h1 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .about-banner{
    width: 100%;
    height: auto;
  }
  .about-section {
    padding: 20px 10px;
  }

  .founder-box {
    flex-direction: column;
    text-align: center;
  }

  .banner-overlay h1 {
    font-size: 20px;
  }
}
